<% @page_title = "Subscription" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<% if @session&.payment_status == "paid" %>
  <section class="panel shadow center margin-block-end">
    <h2>Thanks for subscribing!</h2>
    <p>Your payment was successful. You're now on the <strong><%= @account.plan.name %></strong> plan.</p>
  </section>
<% end %>

